.equity {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-left: 67px;
  margin-right: 100px;

  .text {
    margin-top: 161px;

    .financing {
      font-size: 42px;
      font-weight: 330;
    }

    .startup {
      font-size: 33px;
      font-weight: 100;
      letter-spacing: 2px;
      margin-bottom: 33px;
    }

    p {
      font-size: 13px;
    }

    button {
      margin-top: 21px;
      background-color: #292a2d;
      color: #eeece3;
      padding: 13px 26px;
      border-radius: 40px;
    }
  }

  .images {
    position: relative;
    width: 500px;
    transform: translateX(70px);

    img {
      max-width: 100%;
      height: auto;
    }

    .woman {
      position: relative;
      z-index: 1;
      margin-top: 51px;
    }

    .exercise {
      position: absolute;
      top: 30%;
      right: 82%;
      z-index: 2;
    }

    .circle {
      position: absolute;
      top: 60%;
      right: 23%;
      z-index: 4;
    }

    .ipo {
      position: absolute;
      bottom: 20%;
      left: 45%;
      z-index: 3;
      width: 150px;
    }
  }
}
hr {
  margin-left: 67px;
  margin-right: 100px;
  margin-top: -4px;
}

.block2 {
  display: flex;
  justify-content: space-between;
  margin-left: 66px;
  margin-top: 39px;
  margin-right: 20px;
  .work {
    font-size: 10px;
    color: #73726c;
  }
  .website {
    font-size: 13px;
    color: #004250;
  }
  .frame {
    margin-top: 84px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 30px;
    border-radius: 30px;
    border: 1px solid #bfcacb;
  }
  .policy {
    display: flex;
    gap: 17px;
    font-size: 12px;
    margin-top: 21px;
    align-items: center;
    color: #004250;
    button {
      background-color: #004250;
      color: #ffffff;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-right: 26px;
      padding-left: 26px;
      border-radius: 40px;
      margin-left: 174px;
      cursor: pointer;
    }
  }
  .leading {
    font-size: 9px;
    color: #73726c;
    margin-left: 100px;
  }
  .center {
    .got {
      font-size: 26px;
      letter-spacing: 2px;
      margin-top: 12px;
      font-weight: 50;
    }
    .see {
      text-align: center;
      font-size: 15px;
      margin-top: 21px;
      font-weight: 50;
    }
  }
  .chat {
    height: 60px;
    width: 60px;
    margin-top: 144px;
  }
}
